body{
    margin: 0;
    padding: 4px;
    font-family: 'Kalam', serif;
    background: #ffffff;
    width: clamp(350px, 100%, 800px);
    margin: auto;
}
nav{
    text-align: center;
    font-weight: bold;
}
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    padding: 0;
    margin: 0;
}    
.container{
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-around;
    margin: 0;
    padding: 3px;
}
.columncontain{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-around;
    margin: 0;
    padding: 3px;
}
.gallery {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    margin: 0;
    padding: 3px;
}
.box{
    display: flex;
    flex-direction: column;
    border: 5px solid black;
    margin: 6px;
    flex: 1;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding: 3px;
}
i:hover {
    filter: invert(1);
}
a {
    text-decoration: none;
    color: black;
}
a:hover {
    font-weight: bold;
}
nav a {
    padding: 3px;
    text-decoration: none;
    color: black;
}
nav a:hover{
    background-color: black;
    color: white
}
div{
    padding: 5px;
}
p {
    padding: 5px;
}
h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    
}
img {
    box-sizing: border-box;
    width: 100%;
    height: auto;
    padding: 10px;
}
#image1 {
    filter: grayscale(100%);
    background-size: cover;
    background-image: url(images/kangaroo.png);
}
#image2 {
    filter: grayscale(100%);
    background: url(images/light.jpg) no-repeat center/contain;
}
#image3 {
    filter: grayscale(100%);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
    background-image: url(images/cuberotation.gif);
}
#image4 {
    filter: grayscale(100%);
    background-size: contain;
    background-image: url(images/cachill.png);
}
footer {
    margin-top: 2rem;
    font-size: 0.8rem;
    opacity: 0.7;
    text-align: center;
}
.textshadow {
    text-shadow: 1px 0 1px #fff, -1px 0 1px #fff, 0 1px 1px #fff, 0 -1px 1px #fff,
    1px 1px 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff, -1px 1px 1px #fff;
    font-weight: bold;
}
.github {
    content: url(images/Github_black.svg);
}
.linkedin {
    content: url(images/LinkedIN_black.svg);
}
.youtube {
    content: url(images/Youtube_black.svg);
}
.gmail {
    content: url(images/Gmail_black.svg);
}
